<div class="row">
  <div class="col-md-6">
    {{date-picker date=date valueFormat='YYYY-MM-DD'}}
  </div>
  <div class="col-md-6">
    <dl class="dl-horizontal">
      <dt>Formatted date</dt><dd>{{formattedDate}}</dd>
      <dt>Timestamp</dt><dd>{{timestamp}}</dd>
    </dl>
  </div>
</div>
